:root {
  background-color: #dee1e4;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #439ef3;
  color: white;
  text-align: center;
  letter-spacing: 15px;
}

.icons {
  text-align: center;
}

.medium-icon {
  max-height: 35px;
  max-width: 35px;
}

#navbar {
  padding: 15px;
  align-items: center;
  padding-left: 100px;
}

#navbar button {
  border: none;
  text-decoration: name;
  letter-spacing: 0.3px;
  font-weight: bold;
  font-size: 15px;
}

.navbar-text {
  font-weight: bold;
  font-size: 25px;
}

.detail {
  background-color: #dee1e4;
}

.my-picture {
  max-width: 300px;
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 75px;
  border: black;
}

.about {
  padding-top: 75px;
  padding-left: 75px;
  padding-right: 75px;
}

.aside {
  width: 40%;
  padding-left: 5px;
  margin-left: 5px;
  float: left;
}
